<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body{
            font-family: "Host Grotesk"
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    
    
    <form method="POST" action="/user/login">
        <label >email</label>
        <input type="text" name="email" required></input>

        <label >password</label>
        <input type="text" name="password" required></input>

        <button type="submit">Login</button>
    </form> 

    <h3>are you a new user??</h3>
    <form method="GET" action="/signup"><button>signup</button></form>
</body>

</html>